/* ============================================ */
/*                 Base Elements                */
/* ============================================ */
h1,
h2,
h3,
a
	font-family: $title_font
	font-weight: 500
	text-transform: uppercase
h2
	font-size: 1.9em

// h4
// 	font-size: 1.3em
// 	font-family: $title_font
// 	font-weight: 400
// 	text-transform: initial 

p
	font-family: $body_font
	font-size: 1.2em
	line-height: 1.6em
.float_right_full
	float: left
	width: 100%
	padding-left: 200px
.content_wrap
	width: 100%
	position: relative
	+outer-container
	padding: 0
	margin-bottom: 100px
.full_wrap
	position: relative
	width: 100%
	background: #ccc
.white_grid
	background: #fff
	z-index: 1
	padding: 30px 40px 30px 40px
	background: #999
.color_grid
	background: #ccc
	padding: 30px 40px 30px 40px
	margin-left: -150px
	margin-top: 75px
	z-index: 2
