/* ============================================ */
/*                Media Queries                 */
/* ============================================ */
@media only screen and (max-width: 1600px)
	.float_right_full
		float: right
		width: 100% !important
		padding-left: 200px !important
		overflow-x: hidden

@media only screen and (max-width: 1400px)
	.col-md-3
		width: 50%
	.footer_wrap
		.row2_margin
			margin: 6px 0 0 0 !important
	.hero_wrap h1
		font-size: 2em !important
	.home_project_outer
		height: 260px !important
	.home_project_outer:hover
		.home_project_title_card
			width: 44% !important
			cursor: pointer
	.home_project_title_card
		width: 40% !important
	.home_project_title_card:hover
		width: 44% !important

@media only screen and (max-width: 1000px)
	.col-md-3
		width: 100%
	.footer_wrap
		margin-top: 140px!important
		.col-md-3
			padding: 16px 0 0 0 !important
			margin: 0!important
	.hero_wrap h1
		font-size: 1.65em !important

@media only screen and (max-width: 992px)
	.home_project_outer
		height: 240px !important
	.home_project_title_card,
	.home_project_title_card:hover
		width: 100% !important
	.home_project_outer:hover
		.home_project_title_card
			width: 100% !important
			cursor: pointer

@media only screen and (max-width: 768px)
	.navbar-left
		position: absolute
		width: 100%

		li
			a
				background: red
			a:hover
				background: white
	.tegan_nav
		height: 60px !important
		width: 100% !important

	.navbar-collapse
		margin-top: -1px
		margin-bottom: -9px

	.float_right_full
		width: 100%
		float: none
		padding-left: 0 !important
		margin-left: 0

	.hero_wrap h1
		padding-top: 110px

	h2
		font-size: 1.6em

	p
		font-size: 1em
		line-height: 1.7em
	.footer_wrap
		margin-top: 90px!important
	.nav_info
		display: none
	.home_project_outer
		height: 245px !important


