/* ============================================ */
/*                    Footer                    */
/* ============================================ */
.footer_wrap
	width: 100%
	position: relative
	+outer-container
	padding: 50px 0 50px 0
	text-align: center

.footer__social
	position: relative
	clear: both
	top: 40px

.footer__social__icon
	padding: 0 5px 0 5px

.footer__copyright
	position: relative
	font-size: 0.8em
	top: 40px

.info_border_1,
.info_border_2,
.info_border_3
	border-right: 1px solid #000